* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background-color: #dde5f4;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginForm {
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.LoginForm div, form{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}